<!-- This is the Home page that renders when the user enters the root directory. -->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br />

<h1 align="center">Home</h1>
<br />

<p class="text-center">Welcome to Zach's Capstone Project.</p>
<br />

<p class="text-center">
  The goal of this web app is to generate personalized News Recommendations
  tailored to your preference.
</p>
<br />

<p class="text-center">
  To explore the full functionalities of this app, please login or signup.
</p>

{% endblock %}
