{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<br />

<form method="POST">
  <!-- ^^ Builds a HTML form, the "POST" means that when the form is submitted, 
  a post request is sent to the backend. -->
  <h3 align="center">Sign Up</h3>
  <!-- h3 is for level-3 heading -->
  <div class="form-group">
    <!-- "form-group" is a bootstrap class, for bootstrap refer to base.html -->
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter your email"
    />
    <!-- "form-control" is another bootstrap class, while the "name" attribute is what
      the data will be referred as when information is sent to the backend. We will be
      able to access this email address by whatever its "name" is defined as. The "id"
      should be the same as the "name" attribute at all times. -->
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter your first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter your password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm your password"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
  >
    Submit
  </button>
  <!-- A bootstrap class that makes a nice looking blue button -->
</form>
{% endblock %}
